/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2017, 4:01:57 PM
    Author     : frfroes
*/

.advanced-search .search-row {
    display: flex;
    flex-wrap: wrap;
}
.advanced-search .main-search .search-row > *:not(:last-child),
.advanced-search .secondary-search .search-row {
    margin-bottom: 15px;
}

.advanced-search .search-field,
.advanced-search .search-field label {
    display: inline-block;
    cursor: move;
}
.advanced-search .search-field.search-disabled,
.advanced-search .search-field.search-disabled label{
    cursor: not-allowed;
}
.advanced-search .search-field {
    position: relative;
}
.advanced-search .secondary-search .search-field{
    margin-right: 60px;
}

.advanced-search .search-field .selector-wrapper {
    padding-right: 0px;
    display: flex;
    min-height: 32px;
    background-color: rgba(211, 211, 211, 0.7);
    transition: ease-in-out 100ms 0ms;
}
.advanced-search .search-field:not(.search-disabled):hover .selector-wrapper,
.advanced-search .search-field:not(.search-disabled).ui-draggable-dragging .selector-wrapper{
    padding-right: 10px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.advanced-search .search-field:not(.search-disabled):hover .selector-wrapper::after,
.advanced-search .search-field:not(.search-disabled).ui-draggable-dragging .selector-wrapper::after{
    content: "∥";
    color: #828282;
    align-self: center;
    padding-left: 10px;
}

.advanced-search .search-field .selector-wrapper input{
    width: auto;
}

.advanced-search .search-field.search-disabled::before {
    content: "";
    position: absolute;
    width: 103%;
    height: 103%;
    border-radius: 8px;
    left: -1.5%;
    top: 4.5%;
    background-color: rgba(211,211,211, 0.2);
    z-index: 999;
}

.advanced-search .search-field.with-error:not(.search-disabled) > label {
    color: rgba(204, 0, 0, 0.6);
}

.advanced-search .search-field.with-error:not(.search-disabled) * {
    border-color: rgba(204, 0, 0, 0.6);
}

.advanced-search .droppoint:not(:first-child) {
    width: 60px;
}

.advanced-search .dropparea{
    margin: 0 10px;
}

.advanced-search .droppoint.droppoint-active,
.advanced-search .dropparea.droppoint-active{
    /*margin: 15px 0px;*/
    border-radius: 5px;
    background: repeating-linear-gradient(
        45deg,
        #d3d3d3,
        #d3d3d3 2px,
        #FFF 2px,
        #FFF 10px
    );    
}

.advanced-search .droppoint.droppoint-hover,
.advanced-search .dropparea.droppoint-hover{
    background: repeating-linear-gradient(
        45deg,
        #888888,
        #888888 2px,
        #FFF 2px,
        #FFF 10px
    );    
}

.advanced-search .droppoint.droppoint-active{
    margin: 15px 10px;
    height: 60px;
    width: 60px;
}
.advanced-search .droppoint.droppoint-hover{
    width: 204px;
}
